* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:hover{
    cursor: pointer;
}
.outer-box {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGroup {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.connect-btn {
    background: white;
    border: none;
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 0 0px 20px gray;
    height: 250px;
}

.connect-btn+.connect-btn {
    margin-left: 30px;
}

.svg-icon {
    display: block;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.btn-text {
    display: block;
}

 .connect-btn img {
    width: 100%;
    object-fit: inherit;
    max-width: 300px;
    height: 100px;
}

.connect-btn.amazon-shado{
    box-shadow: inset 0 0 20px #ff9900, 0 0 20px #221f1f;
}
.connect-btn.google-shado{
    box-shadow: inset 0 0 20px #4285f4, 0 0 20px #221f1f;
}
.sync-btn{
    background: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}

.sync-btn img{
    height: 40px;
    width: 40px;
}